{{define "base"}}
<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.yellow.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
    />
    <title></title>
  </head>
  <body>
    <header>
      <nav style="margin: 1rem auto; width: 90%">
        <ul>
          <h1>GFG Tech Hunt</h1>
        </ul>
        <ul>
          <li><a href="/leaderboard">Leaderboard</a></li>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </header>
    <main
      class="container"
      style="margin: auto; padding: 1rem; max-width: 800px"
    >
      {{template "body" .}}
    </main>
  </body>
</html>
{{end}}
