{{define "body"}} {{if .IsWinner}}
<img src="/assets/cup.svg" style="margin: 1rem auto; display: block" />
<article class="pico-background-green-200">
  Congrats {{.WinnerName}} for being the winner of GFG Tech Hunt 2024!
</article>
{{end}}
<table id="leaderboard-table">
  <thead>
    <tr>
      <th scope="col">Team Name</th>
      <th scope="col">Round</th>
      <th scope="col">Entered At</th>
    </tr>
  </thead>
  <tbody>
    {{range $entry := .LeaderBoard}}
    <tr>
      <th scope="row">{{$entry.TeamName}}</th>
      <td>{{$entry.RoundNum}}</td>
      <td>{{$entry.EnteredAt}}</td>
    </tr>
    {{end}}
  </tbody>
</table>
<h2>Rules</h2>
<ol>
  <li>Each team must consist of exactly <em>four</em> (4) members.</li>
  <li>
    Entry in the academic part of every college building and classroom is
    strictly prohibited. The game will be played in college surroundings and
    entrance ways only.
  </li>
  <li>
    QR codes will be strategically placed at various clue locations. Teams must
    scan these codes to retrieve the technical questions and subsequent clues.
  </li>
  <li>
    Participants need to carry mobile phones with proper internet access to
    facilitate scanning QR codes and solving technical questions.
  </li>
  <li>
    In case of internet failure of participants, the organizing committee will
    not be responsible for providing the network.
  </li>
  <li>
    Each team will be assigned a unique team number upon registration. A sticker
    bearing this number will be issued to each team member at sign-in and must
    be visibly displayed throughout the duration of the event.
  </li>
  <li>
    Team members are required to remain together at all times during the event.
    Any team found splitting up or separating will be subject to penalties or
    disqualification.
  </li>
  <li>
    Teams must independently solve the clues and technical questions without
    assistance from external sources or non-participants.
  </li>
</ol>

{{end}}
