{{define "body"}}
<article class="pico-background-red-400">
  <p>
    Game not started yet. Wait for the admin to start it. Keep refreshing. Best
    of luck👍
  </p>
  <h2>Rules</h2>
  <ol>
    <li>Each team must consist of exactly <em>four</em> (4) members.</li>
    <li>
      Entry in the academic part of every college building and classroom is
      strictly prohibited. The game will be played in college surroundings and
      entrance ways only.
    </li>
    <li>
      QR codes will be strategically placed at various clue locations. Teams
      must scan these codes to retrieve the technical questions and subsequent
      clues.
    </li>
    <li>
      Participants need to carry mobile phones with proper internet access to
      facilitate scanning QR codes and solving technical questions.
    </li>
    <li>
      In case of internet failure of participants, the organizing committee will
      not be responsible for providing the network.
    </li>
    <li>
      Each team will be assigned a unique team number upon registration. A
      sticker bearing this number will be issued to each team member at sign-in
      and must be visibly displayed throughout the duration of the event.
    </li>
    <li>
      Team members are required to remain together at all times during the
      event. Any team found splitting up or separating will be subject to
      penalties or disqualification.
    </li>
    <li>
      Teams must independently solve the clues and technical questions without
      assistance from external sources or non-participants.
    </li>
  </ol>
</article>
<a href="/hunt/dashboard">Go to the dashboard.</a>
{{end}}
