{{define "body"}}
<form method="post" action="/hunt/begin">
  <h1>Round: #{{.RoundNum}}</h1>
  <article
    class="pico-background-green-200"
    style="
      text-align: center;
      font-size: 2rem;
      width: fit-content;
      margin: auto;
    "
    id="countdown-outer"
  >
    <span id="countdown"></span>
  </article>
  {{range .Questions}}
  <h2>{{.QuestionMD}}</h2>
  <input
    type="radio"
    name="{{.QuestionId}}"
    value="option1"
    checked="false"
    id="{{.QuestionId}}1"
  /><label for="{{.QuestionId}}1">{{.Option1.Option}}</label>
  <br />
  <input
    type="radio"
    name="{{.QuestionId}}"
    value="option2"
    checked="false"
    id="{{.QuestionId}}2"
  /><label for="{{.QuestionId}}2">{{.Option2.Option}}</label>
  <br />
  <input
    type="radio"
    name="{{.QuestionId}}"
    value="option3"
    checked="false"
    id="{{.QuestionId}}3"
  /><label for="{{.QuestionId}}3">{{.Option3.Option}}</label>
  <br />
  <input
    type="radio"
    name="{{.QuestionId}}"
    value="option4"
    checked="false"
    id="{{.QuestionId}}4"
  /><label id="{{.QuestionId}}4">{{.Option4.Option}}</label>
  <input
    type="radio"
    name="{{.QuestionId}}"
    value="option100"
    id="{{.QuestionId}}100"
    checked="checked"
    style="display: none; height: 0; width: 0"
  />
  <hr />
  {{end}}
  <button type="submit"><strong>Submit</strong></button>
</form>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var endTime = new Date("{{.EndTimeString}}").getTime();
    const countdown = document.getElementById("countdown");
    const countdownouter = document.getElementById("countdown-outer");

    var x = setInterval(function () {
      var now = new Date().getTime();
      var distance = endTime - now;

      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
      countdown.innerHTML =
        minutes.toString().padStart(2, "0") +
        ":" +
        seconds.toString().padStart(2, "0");
      if (minutes == 0) {
        countdownouter.classList.remove("pico-background-green-200");
        countdownouter.classList.add("pico-background-red-400");
      }
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("countdown").innerHTML = "TIMEOUT!";
      }
    }, 100);
  });
</script>
{{end}}
