{{define "body"}}
<form method="post" action="/hunt/location?code={{.AccessCode}}" x-data="markdown">
  {{range .Questions}}
  <h2>{{.QuestionMD}}</h2>
  <input
    type="radio"
    name="{{.QuestionId}}"
    value="option1"
    checked="false"
  /><label>{{.Option1.Option}}</label>
  <br />
  <input
    type="radio"
    name="{{.QuestionId}}"
    value="option2"
    checked="false"
  /><label>{{.Option2.Option}}</label>
  <br />
  <input
    type="radio"
    name="{{.QuestionId}}"
    value="option3"
    checked="false"
  /><label>{{.Option3.Option}}</label>
  <br />
  <input
    type="radio"
    name="{{.QuestionId}}"
    value="option4"
    checked="false"
  /><label>{{.Option4.Option}}</label>

  <hr />
  {{end}}
  <button type="submit">Submit</button>
</form>
{{end}}
