{{define "body"}}
<form
  method="post"
  action="/hunt/begin"
  x-data="markdown"
>
  {{range .Questions}}
  <h2>{{.QuestionMD}}</h2>
  <input
    type="radio"
    name="{{.QuestionId}}"
    value="option1"
    checked="false"
    id="{{.QuestionId}}1"
  /><label for="{{.QuestionId}}1">{{.Option1.Option}}</label>
  <br />
  <input
    type="radio"
    name="{{.QuestionId}}"
    value="option2"
    checked="false"
    id="{{.QuestionId}}2"
  /><label for="{{.QuestionId}}2">{{.Option2.Option}}</label>
  <br />
  <input
    type="radio"
    name="{{.QuestionId}}"
    value="option3"
    checked="false"
    id="{{.QuestionId}}3"
  /><label for="{{.QuestionId}}3">{{.Option3.Option}}</label>
  <br />
  <input
    type="radio"
    name="{{.QuestionId}}"
    value="option4"
    checked="false"
    id="{{.QuestionId}}4"
  /><label id="{{.QuestionId}}4">{{.Option4.Option}}</label>

  <hr />
  {{end}}
  <button type="submit"><strong>Submit</strong></button>
</form>
{{end}}
